/* Admin Stylesheet */
/* Structure */
/* line 5, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 10, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
body {
  width: 100%;
  min-width: 980px;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px Verdana, Lucida, Arial, Helvetica, sans-serif;
  color: #332318;
}

/* line 20, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
p, td, ul, ol, li, dl, dt, dd {
  font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
}

/* line 24, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
img {
  border: none;
}

/* line 28, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
table {
  border-collapse: collapse;
}

/* line 32, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
table tr th, table tr td {
  vertical-align: top;
  text-align: left;
  padding: 3px;
}

/* line 38, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a, a:visited {
  color: #993120;
}

/* line 42, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.clear {
  clear: both;
}

/* line 46, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.center {
  text-align: center;
}

/* line 50, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#header {
  height: 4em;
  padding-top: 1em;
  text-align: center;
  background: #993120;
  color: #FFFFFF;
}

/* line 58, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#header h1 {
  margin: 0;
  padding: 0;
}

/* line 63, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#main {
  min-height: 500px;
  background: #F2DC87;
}

/* line 68, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation {
  float: left;
  width: 180px;
  min-height: 480px;
  padding: 10px;
  background: #94B26F;
  color: #4C2516;
}

/* line 77, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#footer {
  clear: both;
  height: 2.5em;
  text-align: right;
  background: #4C2516;
  color: #F2DC87;
}

/* line 85, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#footer p {
  margin: 0;
  padding: 0.5em 1em;
}

/* Navigation */
/* line 91, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 97, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation ul li {
  margin-bottom: 0.5em;
}

/* line 101, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation ul ul {
  margin: 0.5em 0 0 1em;
  font-size: 0.9em;
}

/* line 106, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation a {
  text-decoration: none;
  padding: 1px 3px;
}

/* line 111, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation a:hover {
  background: #F2DC87;
}

/* line 115, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#content {
  padding-left: 100px;
  padding-right: 100px;
}

/* line 120, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#content h2 {
  width: 100%;
  text-align: center;
}

/* line 125, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.login form {
  margin: 100px 250px;
}

/* line 129, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.menu .identity {
  text-align: center;
}

/* line 133, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.menu ul {
  margin: 3em 250px;
  list-style: none;
}

/* line 138, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.menu ul li {
  margin-bottom: 1em;
}

/* line 142, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a {
  text-decoration: none;
}

/* line 146, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a:hover {
  text-decoration: underline;
}

/* large action buttons* */
/* line 151, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a.action {
  float: right;
  padding: 2px 5px;
  margin: 0 0 1em 1em;
  background: #94B26F;
  color: #4C2516;
  border: 1px solid #4C2516;
  text-decoration: none;
  font-size: 0.8em;
  text-align: center;
}

/* line 163, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a.action:hover {
  background: #B6D491;
}

/* small action buttons */
/* line 168, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.actions {
  width: 200px;
}

/* line 172, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.actions a.action {
  float: left;
  min-width: 3.5em;
  padding: 1px 2px;
  matgin: 2px 5px;
  font-size: 0.7em;
}

/* CRUD */
/* line 181, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.notice {
  height: 1.25em;
  padding: 0.5em;
  text-align: center;
  background: #B6D491;
  color: #4C2516;
}

/* line 189, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.back-link {
  font-size: 0.8em;
  margin-bottom: 1em;
}

/* line 194, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.form-buttons {
  text-align: center;
  margin: 1em 0;
}

/* line 199, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.index table {
  text-align: center;
  white-space: nowrap;
  clear: both;
  width: 100%;
}

/* line 206, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.index table tr td {
  border: 1px solid #666666;
}

/* line 210, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.show table {
  clear: both;
  margin: 0 200px;
  width: 300px;
}

/* line 216, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.show table .wide {
  width: 600px;
  margin: 0 50px;
}

/* line 221, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.show table tr th {
  white-space: nowrap;
  padding-right: 5px;
}

/* line 226, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.show table tr td {
  border: 1px solid #666666;
}

/* line 230, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.edit table, .new table {
  margin: 0 auto;
}

/* line 234, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.section + .section {
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top: 1px dotted #666666;
}

/* status_tag */
/* line 241, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
spa.status {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0.25em auto;
  padding: 0;
  border: 1px solid #000000;
}

/* line 250, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
span.status.true {
  background: green;
  color: green;
}

/* line 255, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
span.status.false {
  background: red;
  color: red;
}

/* Errors */
/* line 265, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.fieldWithErrors label {
  color: #AA0000;
}

/* line 273, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation {
  width: 400px;
  padding: 0;
  margin: 0 auto 1.5em;
  border: 1px solid #AA0000;
  background-color: #FFFFFF;
  font-size: 12px;
}

/* line 282, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation h2 {
  font-weight: bold;
  font-size: 12px;
  padding: 5px 5px;
  margin: 0;
  width: 380px;
  background-color: #AA0000;
  color: #FFFFFF;
}

/* line 292, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation p {
  color: #333333;
  margin: 0;
  padding: 3px 0.5em;
}

/* line 298, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation ul {
  margin-top: 0;
}

/* line 302, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation ul li {
  list-style: square;
}
