/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *




 */

/* Admin Stylesheet */
/* Structure */
/* line 5, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 10, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
body {
  width: 100%;
  min-width: 980px;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px Verdana, Lucida, Arial, Helvetica, sans-serif;
  color: #332318;
}

/* line 20, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
p, td, ul, ol, li, dl, dt, dd {
  font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
}

/* line 24, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
img {
  border: none;
}

/* line 28, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
table {
  border-collapse: collapse;
}

/* line 32, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
table tr th, table tr td {
  vertical-align: top;
  text-align: left;
  padding: 3px;
}

/* line 38, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a, a:visited {
  color: #993120;
}

/* line 42, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.clear {
  clear: both;
}

/* line 46, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.center {
  text-align: center;
}

/* line 50, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#header {
  height: 4em;
  padding-top: 1em;
  text-align: center;
  background: #993120;
  color: #FFFFFF;
}

/* line 58, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#header h1 {
  margin: 0;
  padding: 0;
}

/* line 63, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#main {
  min-height: 500px;
  background: #F2DC87;
}

/* line 68, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation {
  float: left;
  width: 180px;
  min-height: 480px;
  padding: 10px;
  background: #94B26F;
  color: #4C2516;
}

/* line 77, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#footer {
  clear: both;
  height: 2.5em;
  text-align: right;
  background: #4C2516;
  color: #F2DC87;
}

/* line 85, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#footer p {
  margin: 0;
  padding: 0.5em 1em;
}

/* Navigation */
/* line 91, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 97, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation ul li {
  margin-bottom: 0.5em;
}

/* line 101, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation ul ul {
  margin: 0.5em 0 0 1em;
  font-size: 0.9em;
}

/* line 106, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation a {
  text-decoration: none;
  padding: 1px 3px;
}

/* line 111, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#navigation a:hover {
  background: #F2DC87;
}

/* line 115, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#content {
  padding-left: 100px;
  padding-right: 100px;
}

/* line 120, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#content h2 {
  width: 100%;
  text-align: center;
}

/* line 125, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.login form {
  margin: 100px 250px;
}

/* line 129, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.menu .identity {
  text-align: center;
}

/* line 133, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.menu ul {
  margin: 3em 250px;
  list-style: none;
}

/* line 138, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.menu ul li {
  margin-bottom: 1em;
}

/* line 142, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a {
  text-decoration: none;
}

/* line 146, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a:hover {
  text-decoration: underline;
}

/* large action buttons* */
/* line 151, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a.action {
  float: right;
  padding: 2px 5px;
  margin: 0 0 1em 1em;
  background: #94B26F;
  color: #4C2516;
  border: 1px solid #4C2516;
  text-decoration: none;
  font-size: 0.8em;
  text-align: center;
}

/* line 163, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
a.action:hover {
  background: #B6D491;
}

/* small action buttons */
/* line 168, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.actions {
  width: 200px;
}

/* line 172, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.actions a.action {
  float: left;
  min-width: 3.5em;
  padding: 1px 2px;
  matgin: 2px 5px;
  font-size: 0.7em;
}

/* CRUD */
/* line 181, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.notice {
  height: 1.25em;
  padding: 0.5em;
  text-align: center;
  background: #B6D491;
  color: #4C2516;
}

/* line 189, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.back-link {
  font-size: 0.8em;
  margin-bottom: 1em;
}

/* line 194, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.form-buttons {
  text-align: center;
  margin: 1em 0;
}

/* line 199, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.index table {
  text-align: center;
  white-space: nowrap;
  clear: both;
  width: 100%;
}

/* line 206, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.index table tr td {
  border: 1px solid #666666;
}

/* line 210, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.show table {
  clear: both;
  margin: 0 200px;
  width: 300px;
}

/* line 216, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.show table .wide {
  width: 600px;
  margin: 0 50px;
}

/* line 221, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.show table tr th {
  white-space: nowrap;
  padding-right: 5px;
}

/* line 226, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.show table tr td {
  border: 1px solid #666666;
}

/* line 230, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.edit table, .new table {
  margin: 0 auto;
}

/* line 234, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.section + .section {
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top: 1px dotted #666666;
}

/* status_tag */
/* line 241, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
spa.status {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0.25em auto;
  padding: 0;
  border: 1px solid #000000;
}

/* line 250, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
span.status.true {
  background: green;
  color: green;
}

/* line 255, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
span.status.false {
  background: red;
  color: red;
}

/* Errors */
/* line 265, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
.fieldWithErrors label {
  color: #AA0000;
}

/* line 273, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation {
  width: 400px;
  padding: 0;
  margin: 0 auto 1.5em;
  border: 1px solid #AA0000;
  background-color: #FFFFFF;
  font-size: 12px;
}

/* line 282, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation h2 {
  font-weight: bold;
  font-size: 12px;
  padding: 5px 5px;
  margin: 0;
  width: 380px;
  background-color: #AA0000;
  color: #FFFFFF;
}

/* line 292, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation p {
  color: #333333;
  margin: 0;
  padding: 3px 0.5em;
}

/* line 298, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation ul {
  margin-top: 0;
}

/* line 302, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/admin.scss */
#errorExplanation ul li {
  list-style: square;
}
/* line 5, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/access.scss */
#loginSignUpBox {
  float: right;
  display: inline;
  margin-right: 2em;
  margin-top: 1em;
  padding: 1em 2em 1em 2em;
  border-style: solid;
  border-width: 2px;
  box-shadow: 10px 10px 10px grey;
}

/* line 16, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/access.scss */
#title {
  float: left;
  display: inline;
  margin-left: 2em;
}

/* line 22, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/access.scss */
#topBlock {
  background: linear-gradient(to right, #33cc33, #009933);
  padding-bottom: 2em;
}

/* line 27, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/access.scss */
#login {
  animation-name: loginPop;
  animation-duration: 3s;
}

@keyframes loginPop {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/* line 41, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/access.scss */
#loginBox {
  margin-left: 20em;
  margin-right: 20em;
  margin-top: 10em;
  padding: 1em 1em 1em 1em;
  border-style: solid;
  border-color: black;
  width: fixed;
  background-color: white;
  border-width: 1px;
  box-shadow: 10px 10px 10px grey;
}

/* line 54, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/access.scss */
body {
  background-color: #c6ecc6;
}
/* line 1, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/custom.scss */
#error_explanation {
  color: red;
}
/* line 4, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/custom.scss */
#error_explanation ul {
  color: red;
  margin: 0 0 30px 0;
}

/* line 11, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/custom.scss */
.field_with_errors .form-control {
  color: red;
}
/* line 5, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
body {
  width: auto;
  display: flex;
  flex-direction: column;
  border-style: double;
  border-color: white;
  background-color: #355c7d;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

/* line 15, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
#header {
  background-color: #355c7d;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: white;
}

/* line 21, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.navigation_links {
  padding: 15px 10px;
  padding-right: 10px;
  overflow: hidden;
  background-color: #355c7d;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  width: auto;
  border-bottom-style: double;
  border-color: white;
}

/* line 32, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.navigation_link {
  display: block;
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  border-style: groove;
  border-color: white;
}

/* line 42, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.content {
  padding-top: 10px;
  padding-left: 10px;
  width: 99%;
  display: flex;
  background-color: #355c7d;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  margin-top: 10px;
}

/* line 52, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.search_bar {
  padding: 14px 16px;
  margin: auto;
  float: right;
  shape-outside: border-box;
}

/* line 59, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.filters {
  background-color: white;
}

/* line 63, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.category {
  display: flex;
  margin: auto;
  flex-direction: column;
  color: white;
  background-color: #355c7d;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  text-align: left;
  border-style: double;
}

/* line 74, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.sources {
  color: white;
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #355c7d;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border-style: double;
}

/* line 84, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.articles {
  margin: auto;
  width: 65%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* line 95, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.article {
  border-style: double;
  border-color: white;
  border-spacing: 5px;
  width: 98%;
  flex-direction: row;
  /*this section is for the article subelements */
  flex-wrap: wrap;
}

/* line 104, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.article_image {
  width: 100%;
}

/* line 108, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.article_image > img {
  max-width: 100%;
}

/* line 112, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.article_text {
  width: 100%;
  color: white;
  text-align: left;
  padding: 15px 10px;
}

/* line 119, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
.footer {
  width: 100%;
  height: 200px;
  margin: auto;
}

/* line 125, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/user.scss */
#links {
  color: white;
}
/* line 5, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
body {
  background-color: #c6ecc6;
}

/* line 9, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
#welcomeSignupLoginBox {
  float: right;
  display: inline;
  margin-right: 2em;
  margin-top: 1em;
  padding: 1em 2em 1em 2em;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 10px grey;
  background-color: white;
}

/* line 21, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
#title {
  float: left;
  display: inline;
  margin-left: 2em;
}

/* line 27, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
#topBlock {
  background: linear-gradient(to right, #33cc33, #009933);
  padding-bottom: 2em;
}

/* line 32, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
#usersSignupTable {
  margin: auto;
  width: 50%;
  padding: 3em 3em 3em 3em;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 10px grey;
  background-color: white;
}

/* line 46, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
td {
  position: relative;
  left: 6em;
  border-color: white;
  border-width: 1em;
  border-style: solid;
}

/* line 54, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
tr {
  border-color: white;
  border-width: 1em;
  border-style: solid;
}

/* line 60, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
#error_explanation {
  color: red;
}

/* line 64, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
#error_explanation ul {
  color: red;
  margin: 0 0 30px 0;
}

/* line 73, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/users.scss */
.form-control {
  color: red;
}
/* line 1, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/welcome.scss */
body {
  background: #c6ecc6;
}

/* line 5, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/welcome.scss */
#welcomeSignupLoginBox {
  width: fixed;
  margin-left: 10em;
  margin-right: 10em;
  padding-left: 22em;
  padding-top: 10em;
}

/* line 13, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/welcome.scss */
#loginTab {
  display: inline;
}

/* line 17, /media/asim/Local Disk/SFU/CMPT 276 - Software Engineering/Project/FeedMe/app/assets/stylesheets/welcome.scss */
#signupTab {
  display: inline;
}
