<table summary="Subscription form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>URL</th>
    <td><%= f.text_field(:url) %></td>
  </tr>
  <tr>
    <th>Source</th>
    <td><%= f.text_field(:source_id) %></td>
  </tr>
  <tr>
    <th>Category</th>
    <td><%= f.text_field(:category) %></td>
  </tr>
</table>
