<div id="topBlock">
  <h1> &nbsp </h1>
</div>

<div id="title">
  <h1> FeedMe </h1>
</div>


<div id="welcomeSignupLoginBox">
  <h2> <%= link_to 'Login', login_path %> </h2>
  <h2> <%= link_to 'Sign Up', signup_path %> </h2>
</div>

<div id="recentHighlights">
</div>
