// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginSignUpBox {
  float: right;
  display: inline;
  margin-right: 2em;
  margin-top: 1em;
  padding: 1em 2em 1em 2em;
  border-style: solid;
  border-width: 3px;
  box-shadow: 10px 10px 10px grey;
}

#feedMe{
  font-size: 200%;
}

#title {
  float: left;
  display: inline;
  margin-left: 2em;
}

#topBlock {
  background: linear-gradient(to right, #33cc33, #009933);
  padding-bottom: 2em;
}

#login {
  animation-name: loginPop;
  animation-duration: 3s;
}

@keyframes loginPop {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}

}

#loginBox {
  margin-left: 20em;
  margin-right: 20em;
  margin-top: 10em;
  padding: 1em 1em 1em 1em;
  border-style: solid;
  border-color: black;
  width: fixed;
  background-color: white;
  border-width: 2px;
  box-shadow: 10px 10px 10px grey;
}

body {
  background-color: rgb(198, 236, 198);
}
