// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: rgb(198, 236, 198);
}

#welcomeSignupLoginBox{
  float: right;
  display: inline;
  margin-right: 2em;
  margin-top: 1em;
  padding: 1em 2em 1em 2em;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 10px grey;
  background-color: white;
}

#title{
  float: left;
  display: inline;
  margin-left: 2em;
}

#topBlock{
  background: linear-gradient(to right, #33cc33, #009933);
  padding-bottom: 2em;
}

#usersSignupTable{

  margin: auto;
  width: 50%;
  padding: 3em 3em 3em 3em;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 10px grey;
  background-color: white;

}

#backButton{

}

td{
  position: relative;
  left: 6em;
  border-color: white;
  border-width: 1em;
  border-style: solid;
}

tr{
  border-color: white;
  border-width: 1em;
  border-style: solid;
}

#error_explanation
{
  color: red;
  ul{
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error !optional;
    .form-control
    {
      color: red;
    }
}
