body{
  background: rgb(198, 236, 198);
}

#welcomeSignupLoginBox{
  width: fixed;
  margin-left: 10em;
  margin-right: 10em;
  padding-left: 22em;
  padding-top: 10em;
}

#loginTab{
  display: inline;
}

#signupTab{
  display: inline;
}
