<!DOCTYPE html>
<html>
  <head>
    <title>FeedMe | <%= @page_title || @user_name %></title>
    <%= stylesheet_link_tag 'user' %>
  </head>
  <body>
    <div id="header">
      <h1>FeedMe</h1>
      <div class="navigation_links">
        <div class="navigation_link"><a href="\access\logout">Logout</a></div>
        <div class="navigation_link"><a href="">Main Page</a></div>
        <div class="navigation_link"><a href="">Control Panel</a></div>
        <div class="navigation_link"><a href="">Some Other Stuff 1</a></div>
        <div class="navigation_link"><a href="">Some Other Stuff 2</a></div>
      </div>
    </div>
    <div id="main">
      <div id="content">
        <!-- before yield -->
        <%= yield %>
        <!-- after yield -->
      </div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; FeedMe</p>
    </div>
  </body>
</html>
