<!DOCTYPE html>
<html>
  <head>
    <title>FeedMe | <%= @page_title || @user_name %></title>
    <%= stylesheet_link_tag 'users' %>
  </head>
  <body>
    <div id="header">
      <h1>FeedMe</h1>
      <div id="menuBar">
        <div class="menu"><a href="\user\display">Home</a></div>
        <div class="menu"><a href="\users\user_profile">Edit Account</a></div>
        <div class="menu"><a href="\users\edit_subscriptions">Add/Remove Subscriptions</a></div>
        <div class="menu"><a href="\users\display">Favourites</a></div>
        <div class="menu"><a href="\access\logout">Logout</a></div>
      </div>
    </div>
    <div id="main">
      <div id="content">
        <!-- before yield -->
        <%= yield %>
        <!-- after yield -->
      </div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; FeedMe</p>
    </div>
  </body>
</html>
